@charset "utf-8";

header.header {
	background: #41535d;
}

.header__region nav ul li {
	margin-right: 15px;
}

.header__region ul li a {
	color: #bababa;
}

.header__region ul.menu a.is-active {
	color: #ff9a9a;
}

.header__region nav ul li:last-child {
	margin-right: 0;
}

.footer {
	background: #000;
	padding: 15px 0;
}

.footer nav ul li a {
	color: #fff;
}

.navbar-toggler {
	position: absolute;
	top: -50px;
	right: 0;
}

/* for screen above 768 resolution */

@media (min-width: 768px) {
	header.header .header__region .region-header {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.header__region nav ul {
		display: flex;
		flex-direction: row;
	}

}

.banner {
	position: relative;
}

.banner .container,
.banner .block-block-content .field--name-field-title {
	position: absolute;
    left: 0;
    right: 0;
    text-align: right;
    transform: translateY(-50%);
    top: 50%;
    color: #5f1502;
}

/* Recipe css starts here */

.recipe-requirement {
	display: flex;
    margin-bottom: 30px;
    border-bottom: 1px dotted #ccc;
    padding: 30px 0;
}

.recipe-requirement .recipe-requirement__items {
	display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-right: 30px;
}

.recipe-wrapper {
	margin: 30px 0;
}

.recipe-wrapper .view-content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.recipe-list h2,
.recipe-block-view .view-content h2  {
	line-height: normal;
}

.recipe-list {
    margin-bottom: 30px;
}


.recipe-list h2 a {
	background: #8a240e;
	text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    padding: 15px;
    color: #fff;
    line-height: normal;
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

img {
	max-width: 100%;
	height: auto;
}

.recipe-wrapper .more-link a {
	display: inline-block;
    padding: 10px 25px;
    background: #ff9181;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
}

