<div id="page">
  <header id="header" class="header">
    <div class="container">
      <div class="header__region">
        {{ page.header }}
      </div>
    </div>
  </header>
  <div class="banner">
    <div> {{ page.banner }} </div>
    <!-- <div class="container"> <h1> {{ node.label }} </h1> </div>
    <img class="img-fluid" src="{{ base_path ~ directory }}/images/banner.jpg" /> -->
  </div>
  <section id="main">
    <div class="container">
        <div class="row">
                {% if page.sidebar %}
            <div id="content" class="col-md-9 col-sm-9 col-xs-12">
                {{ page.content }}
            </div>
            <aside id="sidebar" class="sidebar col-md-3 col-sm-3 col-xs-12">
                 {{ page.sidebar}}
            </aside>
                  {% else %}
            <div id="content" class="col-md-12">
                  {{ page.content }}
            </div>
                  {% endif %}
        </div>
    </div>
  </section>
  {% if page.footer %}
    <footer id="footer" class="footer">
      <div class="container">
        {{ page.footer }}
      </div>
    </footer>
  {% endif %}
</div>